<h3>Здравствуйте</h3>

<p>Пожалуйста, перейдите по приведенной ниже ссылке, тем самым подтвердив регистрацию: <br />
    <a href={{ url }}>Подтвердить почту</a>
</p>

<p>
    Если Вы получили это письмо по ошибке, просто проигнорируйте его.
</p>